<footer class="text-center text-lg-start bg-info mt-2" style="position:absolute; left:0; bottom:0; top:auto; width:100%;">
    <div class="text-center text-white p-3 bg-info">
      © 2022 Copyright:
      <a class="text-white" href="">GalleryApp.com</a>
    </div>
</footer>